<div class="night-bg">
  <p-toast position="top-right"></p-toast>
  <div class="glass-card">
    <h2>Registro</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="p-fluid">

      <div class="field mb-3">
        <input pInputText formControlName="name" class="glass-input" placeholder="Nombre completo"/>
        <small class="p-error"
          *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
          El nombre es requerido.
        </small>
      </div>

      <div class="field mb-3">
        <input pInputText formControlName="email" class="glass-input" placeholder="Correo electrónico"/>
        <small class="p-error"
          *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          Ingresa un email válido.
        </small>
      </div>

      <div class="field mb-3">
        <input pInputText formControlName="calle" class="glass-input" placeholder="Calle"/>
      </div>

      <div class="field mb-3">
        <input pInputText formControlName="colonia" class="glass-input" placeholder="Colonia"/>
      </div>

      <div class="field mb-3">
        <input pInputText formControlName="no_exterior" class="glass-input" placeholder="Número exterior"/>
      </div>

      <div class="field mb-3">
        <input pInputText formControlName="telefono" class="glass-input" placeholder="Teléfono"/>
        <small class="p-error"
          *ngIf="registerForm.get('telefono')?.invalid && registerForm.get('telefono')?.touched">
          Debe contener exactamente 10 números.
        </small>
      </div>

      <div class="field mb-3">
        <p-password formControlName="password" [feedback]="false" [toggleMask]="true" placeholder="Contraseña"/>
        <small class="p-error"
          *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          <br>Mínimo 10 caracteres y debe contener #
        </small>
      </div>

      <div class="field mb-3">
        <p-password formControlName="confirmPassword" [feedback]="false" [toggleMask]="true" placeholder="Confirmar contraseña"/>
        <small class="p-error"
          *ngIf="registerForm.errors?.['passwordsMismatch'] && registerForm.get('confirmPassword')?.touched">
          <br>Las contraseñas no coinciden.
        </small>
      </div>

      <div class="field-checkbox mb-4">
        <p-checkbox formControlName="mayorEdad" binary="true"></p-checkbox>
        <label class="ml-2">Declaro que soy mayor de edad</label>
        <br>
        <small class="p-error"
          *ngIf="registerForm.get('mayorEdad')?.invalid && registerForm.get('mayorEdad')?.touched">
          Debes ser mayor de edad para registrarte.
        </small>
      </div>

      <button class="btn-main" type="submit" [disabled]="loading">
        {{ loading ? 'Registrando...' : 'Registrarse' }}
      </button>

      <button class="btn-text" type="button" routerLink="/login">
        ¿Ya tienes cuenta? <strong>Inicia sesión</strong>
      </button>

    </form>
  </div>
</div>
