<div class="sidebar">
  <h2 class="logo">ERP</h2>
<!--
  <a routerLink="/dashboard" routerLinkActive="active">
    <i class="pi pi-home"></i>
    <span>Algo</span>
  </a>
-->

  <a routerLink="/user" routerLinkActive="active">
    <i class="pi pi-users"></i>
    <span>Perfil</span>
  </a>

  <a routerLink="/groups" routerLinkActive="active">
    <i class="pi pi-users"></i>
    <span>Grupos</span>
  </a>

  <!-- Admin: Gestión de Permisos -->
  <a routerLink="/admin/permissions" routerLinkActive="active" class="admin-link" >
    <i class="pi pi-lock"></i>
    <span>Gestión de Permisos</span>
  </a>
<!--
   <a routerLink="/tickets" routerLinkActive="active">
    <i class="pi pi-users"></i>
    <span>Mis tickets</span>
  </a>
-->

  <a routerLink="/login" routerLinkActive="active">
    <i class="pi pi-briefcase"></i>
    <span>Salir</span>
  </a>
 <div class="version">
    Angular v.20.0.3
  </div>
  
</div>