<div class="sidebar">
  <h2 class="logo">ERP</h2>

  <a routerLink="/dashboard" routerLinkActive="active">
    <i class="pi pi-home"></i>
    <span>Dashboard</span>
  </a>

  <a routerLink="/usuarios" routerLinkActive="active">
    <i class="pi pi-users"></i>
    <span>Usuarios</span>
  </a>

  <a routerLink="/ofertas" routerLinkActive="active">
    <i class="pi pi-briefcase"></i>
    <span>Ofertas</span>
  </a>

  <a routerLink="/configuracion" routerLinkActive="active">
    <i class="pi pi-cog"></i>
    <span>Configuración</span>
  </a>
</div>